<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/project.css" rel="stylesheet">

	<!-- idk i'm just pasting this here-
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	-->

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/project.js"></script>

	<!-- where we would put google analytics -->

</head>

<body>
	<div class="searchbar">

	</div>
	
	<div class="taskbox">
		<h2>To-Do:</h2>
		<div class="tasks">
			<div class="task">
				<input type="checkbox" name="task1">
				<label for="task1"> watch COGS 120 lecture </label><br>
			</div>
			<div class="task">
				<input type="checkbox" name="task2">
				<label for="task2"> take CSE 105 quiz </label><br>
			</div>
		</div>
	</div>

	<br>

	<div class="section">
		<h3>Ongoing Meetings:</h3>
		<p id="idk">¯\_(ツ)_/¯</p>
		<p>You currently have no ongoing meetings.</p>
	</div>

	<br>

	<div class="section">
		<h3>My Courses:</h3>
		<p>COGS 120</p>
		<p>CSE 105</p>
		<p>MATH 20D</p>
	</div>


</body>
</html>
