<html>
<head>
	<title>Login Page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/login.css" rel="stylesheet">

	<!-- idk i'm just pasting this here-
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	-->

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/project.js"></script>

	<!-- where we would put google analytics -->

</head>

<body>
	<div class="appname">
		<h1>Insight</h1>
	</div>
	<div class="login">
		<div class="input">
			<input type="text" placeholder="Username">
		</div>
		<div class="input">
			<input type="text" placeholder="Password">
		</div>
        <form action="/home" class="loginbtn" >
            <input type="submit" value="Login">
        </form>
	</div>
</body>
</html>
