<html>
<head>
	<title>Quiz Page</title>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/project.css" rel="stylesheet">

	<!-- idk i'm just pasting this here-
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	-->

  	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/project.js"></script>

	<script src="https://kit.fontawesome.com/341afe5983.js" crossorigin="anonymous"></script>
	<!-- where we would put google analytics -->

</head>

<body>
	<a class="backarrow" style="text-align:left;" href="/home">
		<i class="fas fa-arrow-left fa-lg" style="padding:10px"></i>
	</a>
	<div class="example">
		<h2>Quiz page in progress</h2>
	</div>

</body>
</html>
