/* General stuff */
* {
    /*filter: grayscale(1);   delete this line later */ 
    font-family: 'Nunito', 'sans-serif';
}
p { 
    font-size: 14px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}
a {
    color: blue;
}
a.backarrow, a.logout {
    color: black;
}

/* Home page stuff */

.searchbar {
    background: #6A6F5C;
    overflow: hidden;
    top: 0; right: 0; left: 0;
    text-align: center;
    font-style: italic;
    padding: 15px;
}
.search {
    width: 40%;
    padding: 5px;
}
.searchbar button {
    cursor: pointer;
    font-size: 15px;
    border: none;
    padding: 8px;
    background: #ddd; 
}
.searchbar button:hover {
    background: #ccc;
}

.taskbox {
    background-color: #D8DCC8;
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}
/*.taskbox h3 {
    font-weight: bold;
    margin-top: 1%;
}*/
.taskclass h4 {
    margin-bottom: 3%;
}
.taskclass {
    margin-bottom: 12%;
}
.task {
    font-weight: normal;
    margin-left: 5%;
    margin-bottom: 3%;
}

.section h3 {
    margin-left: 13%;
}

#idk {
    color: #8DAF12;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 40px;
    font-weight: bold;
}
#idktxt {
    text-align: center;
}

.course h4 {
    margin-left: 15%;
    font-weight: normal;
    margin-bottom: 0%;
}
.course p {
    margin-left: 15%;
    margin-top: 0%;
    
}

/* soooo right now the css for both pages is in here 
   but we can split it up later too */

/* Lecture page stuff */

.example {
    text-align: center;
}
.example h2 {
    font-size: 35px;
}
.example h3 {
    font-size: 30px;
}

.example .titles {
    line-height: 5px;
}

.example video {
    width: 100% !important;
    height: auto !important;
}

.example table {
    margin:auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    text-align: center;
  }
  
.example  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.example  td {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
  }
  
.example  tr:nth-child(even) {
    background-color: #dddddd;
  }

.example #note {
    width: 100%;
}

